  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h4 class="mdl-card__title-tex">New Conteudo</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <%= render 'form' %>
    </div>
  </div>
