  <div class="panel panel-default">
    <div class="panel-heading">New Sugestao</div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
  <!--<%= link_to 'Back', sugestoes_path %>-->
