<div class="panel panel-default">
  <div class="panel-heading">Editing Banner</div>
  <div class="panel-body">
      <h5>Imagem em uso</h5>
      <%= image_tag @banner.image.url(:large), class: 'img-responsive' %>
      <%= render 'form' %>
  </div>
</div>
