  <% if usuario_signed_in? %>
    <% if current_usuario.try(:admin?) %>
      <%= render 'layouts/menu_admin'%>
    <% else %>
      <%= render 'layouts/menu_usuario'%>
    <% end %>
  <% else %>
    <div class="panel panel-default" style="margin: 0 auto; width: 400px; height: 260px;">
      <div class="panel-heading">Seja bem vindo</div>
        <div class="panel-body">
            <%= link_to "Entrar", new_usuario_session_path, class: 'btn btn-primary btn-lg btn-block' %>
            <br>
            <h3 style="text-align: center;">OU</h3>
            <br>
            <%= link_to "Criar Conta", new_usuario_registration_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
    </div>
  <% end %>
