@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	padding-top: 0;
}

.container {
	max-width: 400px;
}

.ou-dist {
	margin: 9px 0px 7px 149px;
	font-weight: 100;
	font-size: 23px;
}

.dist-panel {
	margin-top: 130px;
}

.dist-bt {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tam-img {
	width: 100%;
	height: 540px;
}

.mdl-card__media img {
	width: 100%;
	height: 180px;
}

.painel {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.tam-bt, .tam-tb {
	width: 100%;
}

.dist-img-tb {
  margin-bottom: 20px;
}
