<h2>Olá, seja bem vindo!</h2>
<span>
  LilyCMS é um gerenciador de sites <i>open-source</i>, em vista de ajudar e contribuir com a comunidade <i style="color: red;">Ruby on Rails</i>,
  ele possui CRUD para conteúdo, banners, contatos, categorias. Além de possuir um formulario para recebimento de sugestões integrado com o <i>MailCatcher</i>
  instalado e configurado.
</span>
